mode: deployment

config:
  receivers:
    otlp:
      protocols:
        grpc:
        http:
  processors:
    batch: {}
  exporters:
    prometheus:
      endpoint: "0.0.0.0:9464"
    debug:
      verbosity: normal
  service:
    pipelines:
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus, debug]

service:
  enabled: true
  type: ClusterIP
  annotations: {}
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
    - name: prom-exporter
      port: 9464
      targetPort: 9464
